DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_DATABASE=
DATABASE_PASSWORD=
DATABASE_AUTOLOADENTITIES
DATABASE_SYNCHRONIZE

---- 

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_TOKEN_AUDIENCIE=
JWT_TOKEN_ISSUER=
JWT_TTL=
JWT_REFRESH_TTL=